# data
data/
datasets/
segmented_data/
videos/
/results_*/

# models
*.pkl
!saved_models/*.pkl
!saved_models/logo/*.pkl

# env
.env
.venv/
__pycache__/
*.pyc

# archives and temp
*.tar.gz
*.zip
tmp/

# os
.DS_Store
Thumbs.db
