numpy
pandas
scikit-learn
xgboost
matplotlib
scipy
h5py
tqdm

# feature extraction
torch
torchvision
diffusers
transformers
huggingface_hub
accelerate
kernels

# video & image processing
opencv-python
Pillow
av

# segmentation
supervision

# camera motion (VGGT)
# vggt
